
{% if user.is_authenticated %}
  <p>  Welcome ! {{ user.username }} | <a href="{{DYNAMIC_URL}}/logout">Logout</a></p>
  <p> Do You Want to delete the user <a href="/confirm_delete/{{employee.id}}">Click Me , </a> only if you are sure to delete </p> 
  <a href = '/search/'>search again </a>
<p>{{message}} <a href= "/check_emp/{{employee.id}}">Delete</a> </p>
{% endif %}
{{message_delete}}
 {% if not user.is_authenticated %}
  <p> Please ! Login to Delete the user | <a href="{{DYNAMIC_URL}}/login">Login</a></p>   
{% endif %}
<h4>Employee Detail </h4> <p> <a href="/json/{{employee.id}}">Find Json of the employee</p></a>
    
        <table>
        <p> Id :{{employee.id}} </p> 
        <p> Name:{{employee.first_name}} {{employee.last_name}}</p>
        <p>Phone No: {{employee.phone_number}}</p>
        <p><a href="/emp_details/{{employee.manager_id}}">Manager : {{employee.manager}} </a></p>
        <P> Business Unit : {{employee.business_unit}}</p>
        <P>Designation : {{employee.designation}}</p>
        <P>Joining Date : {{employee.joining_date}}</p>
        <P>Last Modified : {{employee.last_modified}}</p>
        </table>
       <br/>
     

       <h4> Subordinates List</h4>

       <p>{% for subordinate in subordinates %}
 
         <a href="/emp_details/{{subordinate.id}}">{{subordinate.first_name}} 
             {{subordinate.last_name}} </a> 
         {% endfor %}
         </p>
<h4> Organisation Chain</h4>
<p> {% for org_chain in org_heirachy reversed %}
    <a href="/emp_details/{{org_chain.id}}"> {{org_chain}} </br></a>
    {% endfor %}
</p>
