
{% if user.is_authenticated %}
<p>  Welcome ! {{ user.username }} | <a href="{{DYNAMIC_URL}}/logout">Logout</a></p>
  <a href = '/search/'>search Present Employee</a>
  {% endif %}
<h4>Employee Detail </h4> <p> <a href="/json/{{employee.id}}">Find Json of the employee</p></a>
    
        <table>
        <p> Id :{{employee.id}} </p> 
        <p> Name:{{employee.first_name}} {{employee.last_name}}</p>
        <p>Phone No: {{employee.phone_number}}</p>
        <p><a href="/emp_details/{{employee.manager_id}}">Manager : {{employee.manager}} </a></p>
        <P> Business Unit : {{employee.business_unit}}</p>
        <P>Designation : {{employee.designation}}</p>
        <P>Joining Date : {{employee.joining_date}}</p>
        <P>Last Modified : {{employee.last_modified}}</p>
        </table>
       <br/>
     

