
 {% if user.is_authenticated %}
  <p>  Welcome ! {{ user.username }} | <a href="{{DYNAMIC_URL}}/logout">Logout</a></p>
 {% endif %}
 {% if not user.is_authenticated %}
 <p> please , Login to take test</p>
 {% include "login_form.html" %}
 {% else %}  
 <p>Welcome, {{ user.username }}. Please Click on Yats Test to continue.</p>
{% endif %}






