
    {% if user.is_authenticated %}
   <p>  Welcome ! {{ user.username }} | <a href="{{DYNAMIC_URL}}/logout">Logout</a></p>
   <p>Search the Ex-Employee | <a href="{{DYNAMIC_URL}}/search_deleted">Search Ex-Employee</a></p>
    {% else %}
    <p> please , Login  to delete the employee |  <a href="{{DYNAMIC_URL}}/login">Login</a></p>
    {% endif %}
