{% include 'login_included.html' %}
<form action="/search/" method="get">
   <input type="text" name="q">
   <input type="submit" value="Search">
</form>
<br/><br/>

<p>u searched for: <strong>{{ query }}</strong></p>
{% if employees %}
    <p>Found {{ employees|length }} employee{{ employees|pluralize }}.</p>
        <ul>
        {% for employee in employees %}
           <a href="/emp_details/{{employee.id}}"><li>{{ employee.first_name }} {{ employee.last_name }} </li></a>
        {% endfor %}
        </ul>
{% else %}
    <p>No employees matched your search criteria.</p>
{% endif %}
