
 {% include 'login_included.html' %}
	{% if error %}
        <p style="color: red;">Please submit a search term 20 characters or shorter.</p>
    {% endif %}
    
 <form action="/search_deleted/" method="get">
   <input type="text" name="q">
   <input type="submit" value="Search">
 </form>
